// Continents style bg

$blue:  rgba(43, 43, 153, 0.7);
$violet:  rgba(94, 16, 96, 0.7);
$red:  rgba(172, 5, 5, 0.7);
$yellow:  rgba(235, 235, 8, 0.7);
$orange:  rgba(231, 154, 10, 0.7);

// Country style bg

$grey: rgba(104, 103, 103, 0.5);