@import "./vars";
@import "./mixin";

* {
    box-sizing: border-box;
}

img {
    display: block;    
}

a {
    text-decoration: none;
    color: white;
    transition: 0.5s;

    &:hover {
      color: black;
      text-decoration: underline;
    }
}

@import "./continents/continents";
@import "./continents/bg-style";
@import "./country/country";
@import "./cities/cities";
