.north-america {
    background-color: $blue;
}

.europe {
    background-color: $violet;
}

.asia {
    background-color: $red;
}

.south-america {
    background-color: $blue;
}

.africa {
    background-color: $yellow;
}

.australia {
    background-color: $orange;
}