.continents {
    max-width: 1200px;
    max-height: 800px;
    background: url(../img/map.jpg);
    display: flex;
    flex-wrap: wrap;
}
    
.continent {
    @include flex(center);
    width: 370px;
    height: 370px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;   

    &--north-america {
        background-color: $blue;
    }
    
    &--europe {
        background-color: $violet;
    }
    
    &--asia {
        background-color: $red;
    }
    
    &--south-america {
        background-color: $blue;
    }
    
    &--africa {
        background-color: $yellow;
    }
    
    &--australia {
        background-color: $orange;
    }
}
    